@import "lib-normalize";
@import "lib-mixins";
@import "lib-reset";
@import "lib-rem";
@import "lib-footer";

.login-container {
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f0f0;
  position: relative;
  .top-content {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 60vh;
    background-color: rgb(33, 33, 33);
    .dfs-avatar {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .login-content {
    background-color: #fff;
    width: calc(~"100vw - 2rem");
    margin-left: 1rem;
    padding-bottom: 2rem;
    z-index: 2;
    position: absolute;
    bottom: 3rem;
    box-shadow: 0 0 .6rem #999;
    text-align: center;
  }
  .username-content,
  .password-content {
    position: relative;
    padding: 1rem;
    margin-top: 3vh;
  }
  .username, .password {
    width: calc(~"70vw - 3rem");
    border: 0;
    box-shadow: none;
    padding-left: 3rem;
    border-bottom: 1px solid #ccc;
  }
  input::-webkit-input-placeholder {
    color: #ccc;
  }
  .input-logo {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1.8rem;
    top: 1.3rem;
    padding-right: .8rem;
    border-right: 1px solid #ccc;
  }
  .center-btn {
    width: 70vw;
    height: 2rem;
    line-height: 2rem;
    background-color: #B62A18;
    color: #fff;
    font-weight: bold;
    font-size: .8rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 5vh;
  }
  .center-btn:active {
    background-color: #962A18;
  }
}

.list-container {
  .options-content {
    display: flex;
    height: 2rem;
    line-height: 2rem;
    background-color: #fff;
    .options-item {
      flex: 1;
      text-align: center;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      font-size: .7rem;
    }
    .options-item.active {
      background-color: #f0f0f0;
    }
    .options-item:last-child {
      border-right: 0;
    }
    .check-icon {
      background: url('../img/check-box (2).png');
      background-size: 1rem 1rem;
      position: relative;
      top: .2rem;
      display: inline-block;
      width: 1rem;
      height: 1rem;
    }
  }
}
